@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@font-face {
  font-family: trial;
  src: url("Poppins-Bold.ttf");
  font-weight: bold;
}

a {
  text-decoration: none !important; /* Remove default underline */
  border-bottom: none !important;
  color: grey !important;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #fde74c;
  background-image: linear-gradient(319deg, #fde74c 0%, #32ff7a 37%, #2fcbe0 100%);
  color: white !important;
  font-family: 'Poppins', sans-serif;


  .nav-container {
    backdrop-filter: blur(10px);
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;

    .logo-wrapper {
      flex: 1;
      list-style-type: none;


      .logo {
        padding: 3px;
        font-size: 24px;
        font-weight: bold;
        border: 2px solid white !important;
      }
    }

    .nav-wrapper {
      flex: 1;

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;

        .nav-link {
          border: 2px solid white !important;
          padding: 5px;
          font-weight: bold;
        }
      }
    }
  }

  .main-container {
    display: flex;
    margin: 50px 100px;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
  }

}
