{% extends 'base/main.html' %}


{% block body %}
    <h1>{{ post_info.post_title }}</h1>
    {{ post_info.likes|length }}
    {%  if user.id in post_info.likes|map(attribute="user_id")|list %}
    <a href="/posts/like-post/{{ post_info.post_id }}"><i class="fa-solid fa-heart" style="color: #ffffff;"></i></a>
    {% else %}
    <a href="/posts/like-post/{{ post_info.post_id }}"><i class="fa-regular fa-heart" style="color: #ffffff;"></i></a>
    {% endif %}

    <div class="comments-container">
        {% if user.is_authenticated %}
            <form method="post" action="/create-comment/{{ post_info.post_id }}">
                <input type="text" id="comment" name="comment" placeholder="Comment here!" autocomplete="off">
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        {% endif %}
        <div class="comment-section">
            {% for comment in post_info.comments %}
                {{ comment.users.username }}
                {{ comment.comment_content }}
                {{ comment.date }}
            {% endfor %}
        </div>
    </div>

{% endblock %}